@charset "gb2312";
/* CSS Document */
*{
    margin: 0;
    padding: 0;
}

body{
    font: 12px "宋体","Arial Narrow", HELVETICA;
    color: #3F3E3C;
	line-height:1.5;
	background: #333;
}

img{
	border:0;
	vertical-align:middle;
}

h1,h2,h3,h4,h5,h6{
	font-weight:normal;
}

h1{
   font: 24px "微软雅黑", "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

P{
   word-wrap:break-word;
}

ul,ol{
	list-style:none;
}

a{
    font-size: 20px;
	color: #a6a6a6;
	text-decoration: none;
	transition: All 1s ease;
	-webkit-transition: All 1s ease;
	-moz-transition: All 1s ease;
	-ms-transition: All 1s ease;
	-o-transition: All 1s ease; 
}

a:hover{
	color:green;
}

.blank{
	height: 5px; 
	overflow: hidden;
	width: 100%;
	margin: auto;
	clear: both ;
}

/* -----------------------nav 一级导航----------------- */
header{
    width: 100%;
    background: #222;
    height: 70px;
    border-bottom: #464647 1px solid;
}

header nav{
	margin: 0 auto; 
	width: 1000px;
	text-align: center;
	padding-top: 15px;
}

header nav ul li {
    line-height: 40px;  /* 设置li行高*/
    display: inline;  /*inline 默认。此元素会被显示为内联元素，元素前后没有换行符。block元素将显示为块级元素，此元素前后会带有换行符 */
}

header nav ul li a {
    color: #E7E7E7;
    display: block;
    padding: 0 20px;
    margin-right: 10px;
    float: left;
}

header nav ul li a:hover, #nav_current {
    color: green;
    background: rgba(20, 20, 20, 0.8);
    box-shadow: 0px 1px 0px rgba(255,255,255,.1), inset 0px 1px 1px rgba(0,0,0,.7); /*设置阴影和渐变*/
    border-radius: 6px;    /*设置圆角*/
}

#content{
    width: 100%;
    border-top: #000 1px solid;
    clear: both;
    overflow: hidden;
}

/* ---------------------info------------------------- */
.info {
    width: 1000px;
    margin: 40px auto;
    overflow: hidden;
    clear: both;
}
/* 图片向上翻转的动画效果 */
.info figure{
    display: inline-block;
    width: 630px;
    height: 250px;
    position: relative;
    -webkit-animation: pageTop 6s ease 0.5s backwards;
    -moz-animation: pageTop 6s ease 0.5s backwards;
    -ms-animation: pageTop 6s ease 0.5s backwards;
    -o-animation: pageTop 6s ease 0.5s backwards;
    animation: pageTop 6s ease 0.5s backwards;
    float: left;
}

.info figcaption {
    padding: 20px;
    position: absolute;
    top: 20%;
    left: 0;
    background: rgba(153,153,153,.8);
    color: white;
    opacity: 0;
    -webkit-transition: opacity .75s ease-out;
    -moz-transition: opacity .75s ease-out;
    -o-transition: opacity .75s ease-out;
    transition: opacity .75s ease-out;
}

.info figure:hover figcaption {
    opacity: 1;     /* 用opacity 设置鼠标放上去显示文字的效果 */
}
.info figcaption strong {
    display: block;
    line-height: 40px;
}

/* card */
.card { box-shadow: 0px 1px 0px rgba(255,255,255,.1), inset 0px 1px 1px rgba(0,0,0,.7); border-radius: 6px; background: url(../images/quote-bg.png) no-repeat top right rgba(42,42,42,1); width: 350px; float: right; height: 250px; overflow: hidden }
.card h1 { padding: 10px }
.card p:first-child { padding: 40px 0 0 40px } /* 结构性伪类选择符 选择第一个p标签，并且设置上、左距离是40px*/
.card p { padding: 0 0 0 40px; line-height: 28px; text-shadow: 0px 1px 2px rgba(0,0,0,.5); color: #89919a; -webkit-animation: animations2 5s ease-in-out 5s; -moz-animation: animations2 5s ease-in-out 5s; -o-animation: animations2 5s ease-in-out 5s; -ms-animation: animations2 5s ease-in-out 5s; animation: animations2 5s ease-in-out 5s; }
.linkmore { margin: 15px 0 0 15px }
.linkmore li a { height: 50px; width: 50px; display: block; overflow: hidden; box-shadow: 0px 1px 0px rgba(255,255,255,.1), inset 0px 1px 1px rgba(0,0,0,.7); border-radius: 50%; float: left; margin: 0 6px; }
.linkmore li a:hover { opacity: 0.5; -webkit-transform: rotate(30deg); -ms-transform: rotate(30deg); -moz-transform: rotate(30deg); -o-transform: rotate(30deg); transform: rotate(30deg); }
.talk, .address, .email, .photos, .heart { background: url(../images/icons.png) no-repeat; }
.talk { background-position: 13px 18px }
.address { background-position: 12px -22px }
.email { background-position: 12px -60px }
.photos { background-position: 12px -137px }
.heart { background-position: 13px -99px }

/* --------------------博客列表-------------------- */
.blogs {
    width: 1000px;
    margin: 0 auto 20px;
}
.bloglist {
    width: 666px;
    float: left;
}
.bloglist>li {
    border-right: #111 2px solid;
    padding: 20px 0;
}
.arrow_box {
    background: #222;
    box-shadow: 0px 1px 0px rgba(255,255,255,.1), inset 0px 1px 1px rgba(0,0,0,.7);
    width: 630px;
    color: #b9b9b9;
    border-radius: 6px;
    position: relative;
}
