@charset "gb2312";
/* CSS Document */
*{
    margin: 0;
    padding: 0;
}

body{
    font: 12px "宋体","Arial Narrow", HELVETICA;
    color: #3F3E3C;
	line-height:1.5;
	background: #333;
}

img{
	border:0;
	vertical-align:middle;
}

h1,h2,h3,h4,h5,h6{

	font-weight:normal;
}

h1{
   font: 24px "微软雅黑", "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

P{
   word-wrap:break-word;
}

ul,ol,li{
	list-style:none;
}


